<footer [ngClass]="{hidden: noTodoClass$ | async}" class="footer">
<span class="todo-count">
  <strong>{{activeCount$ | async}}</strong>
  {{itemsLeftText$ | async }}
</span>
  <ul class="filters">
    <li>
      <a (click)="changeFilter($event, filterEnum.all)"
         [ngClass]="{selected: (filter$ | async) === filterEnum.all}"
         href="/">
        All
      </a>
    </li>

    <li>
      <a (click)="changeFilter($event, filterEnum.active)"
         [ngClass]="{selected: (filter$ | async) === filterEnum.active}"
         href="/">
        Active
      </a>
    </li>

    <li>
      <a (click)="changeFilter($event, filterEnum.completed)"
         [ngClass]="{selected: (filter$ | async) === filterEnum.completed}"
         href="/">
        Completed
      </a>
    </li>

  </ul>
</footer>
